/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.hover-cursor {
  cursor: pointer;
}

.hover-cursor>.fa-trash-o:hover {
  transform: scale(1.5);
}

div>.input-group-addon {
  background-color: rgb(214, 214, 214);
  border-radius: 0 0.3rem 0.3rem 0;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

div>.input-group-addon:hover {
  filter: brightness(90%);
}

div>.input-group-addon>.fa-plus-circle:hover {
  filter: brightness(99%);
}
