/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.hover-cursor {
  cursor: pointer;
}

div>.input-group-addon {
  background-color: grey;
  border-radius: 0 0.3rem 0.3rem 0;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
