<div class="jumbotron" style="padding:45px 0px">
  <h1 alt="The applications title" class="text-center">To Do List App</h1>
</div>

<div class="input-group">
  <input title="type something" alt="input to type something" type="text" class="form-control" #itemTitle>
  <div title="Click here to post" alt="button for adding in the list" class="input-group-addon hover-cursor"
    (click)="onAdd(itemTitle)">
    <i class="fa fa-plus-circle fa-2x"></i>
  </div>
</div>

<div style="margin:5px 0px">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of toDoListArray">
      <span title="Click here if done/undone" alt="button to done/undone" class="hover-cursor"
        [class.text-success]="item.isChecked" (click)="alterCheck(item.$key,item.isChecked)">
        <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
      </span>
      {{item.title}}
      <span title="Click here to delete" alt="button to delete" class="hover-cursor text-danger pull-right"
        (click)="onDelete(item.$key)">
        <i class="fa fa-trash-o fa-lg"></i>
      </span>
    </li>
  </ul>
</div>
